@font-face {
    font-family: "Gugi-Regular";
    src: url("../../public/fonts/Gugi-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #424242;
}

.navigationFlex {
    display: flex;
    flex-direction: column;
    background-color: rgba(196, 24, 147, 1);
    height: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Gugi-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;

    /* identical to box height */

    color: #FFFFFF;
}

a.navigation {
    text-decoration: none;
    color: #FFFFFF;
}

.tic-tac-toe {
    width: 150px;
    height: 150px;
    border: 2px solid #66FCF1;
    margin: 50px auto;
}


.ttt-grid {
    width: 50px;
    height: 50px;
    border: 1px solid #66FCF1;
    float: left;
    box-sizing: border-box;

}

.restart-button {
    margin-top: 20px;
    text-align: center;
}

.restart:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.restart:focus {
    outline: none;
}

.restart:active {
    box-shadow: 0 1px #424242;
    transform: translateY(1px);
}

.restart {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: #424242;
    color: #fffde7;
    border: none;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 10%;
    text-align: center;
    border-radius: 4px;
}

.headerStyle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(0deg, #1F2833, #1F2833);
    height: 75px;
}

.headerText {

    font-family: Gugi-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    color: #66FCF1;
    padding-left: 10px;
    padding-right: 20px;
}

.headerTextSmall {

    font-family: Gugi-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;

    /* identical to box height */

    color: #FFFFFF;

}

.mainWrapper {
    background-image: url("background.svg");
    background-size: 100%;
    text-align: center;
    font-family: Gugi-Regular;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;


    color: #FFFFFF;
}

.menuWrapper {
    position: fixed;
}

.popupStyle{
    padding: 20px;
    border-radius: 12px;
    background-color: #FFFFFF;
}
.buttonFlex{
    display: flex;
    justify-content: space-between;


}

.buttonChange:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttonChange:focus {
    outline: none;
}

.buttonChange:active {
    box-shadow: 0 1px #424242;
    transform: translateY(1px);
}
.buttonChange{
    background-color: gray;
    border: none;
    padding: 10px;
    color: whitesmoke;
    border-radius: 5px;
    margin-top: 10px;

}
.Modal {
    background: #66FCF1;
    border: 1px solid #ccc;
    padding: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    border-radius: 4px;
    outline: none;

}

.modalOverlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.closeButton{
    position: fixed;
    left: 10px;
    top: 10px;
    background-color: gray;
    border: none;
    padding: 10px;
    color: whitesmoke;
    border-radius: 5px;
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
.input{
    border-radius: 12px;
    padding: 12px;

}

