.AppStyle {
    margin: 0;
    padding: 0;

}
.Main{
    text-align: center;
}

#Game {
    padding-left: 100px;
    text-align: center;
    padding-top: 10px;

    color: #66FCF1;
    font-size: 40px;
}

.navigationFlex {
    background-color: darkblue;
}

.displayText{
    display: none;
}
